#home {
  max-width: 80%;
  padding: 25px;
}

#contact-us {
  max-width: 100%;
  background-color: #34414F;
  padding: 25px;
  color: white;
}

#email-to {
  color: white;
}

.fa {
  padding: 5px;
  color: #7FD9AC;
}

#break {
  padding: 15px;
}

.nameforyourprojectbackend-language-description {
  padding: 0;
  p {
    margin-right: 25px;
  }
}
