.story-labels {
	text-align: center;
}

.language-new-ortho {
	font-weight: bold;
}

.story-header {
	text-align: center;
}

.target-clip {
	border: 1px solid;
	padding: 10px;
	background-color: #98FB98;
}

.text-component {
	margin: 15px;
}

#toggle-community-view:hover {
	background-color: #4299C8;
}

#toggle-story-view:hover {
	background-color: #4299C8;
}
